body {
  font-family: Arial, sans-serif;
  background: #eef;
}

#container {
  display: flex;
}

#settings {
  width: 250px;
  padding: 10px;
  background: #f0f0f0;
}

#gameArea {
  flex-grow: 1;
  text-align: center;
}

canvas {
  background: #fff;
  border: 2px solid #333;
  display: block;
  margin: 10px auto;
}

#input {
  width: 80%;
  font-size: 30px;
  font-weight: bold;
  color: white;
  background-color: black;
  margin: 10px auto;
  display: block;
  text-align: center;
}
